@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* 1.25 (Perfect Fourth): 16px, 20px, 25px, 31px, 39px, 49px */
html{
    font-size: 16px;
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 body{
     margin: 0;
     padding: 0;
     font-family: "Outfit", sans-serif;
}
 ul{
     list-style: none;
     padding-left: 0;
     margin-bottom: 0;
}
 a{
     text-decoration: none;
}
 img{
     width: 100%;
}

 .ptb-30{
     padding: 30px 0;
}
 .ptb-50{
     padding: 50px 0;
}
.ptb-70{
    padding: 70px 0;
}
 .container{
     max-width: 1320px;
     padding: 0 20px;
}


/* header section css satrt */
.site-logo img {
    max-width: 200px;
}
.main-nav ul li a {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    transition: all 0.3s linear;
}
.main-nav ul li a:hover{
    color: #ef3f4f;
}
.main-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.contact-btn a {
    padding: 17px 35px;
    background: #000;
    border-radius: 38px;
    display: inline-block;
    font-size: 0.875rem;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s linear;

}
.contact-btn a:hover{
    background: #ef3f4f;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all 0.3s linear;
}
.header-fix{
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.3s linear;

}
.toggle, .close{
    display: none;
}
/* header section css end */

/* banner section css start */
.site-banner{
    background-image: url(../images/hero-banner.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 170px;
    padding-bottom: 100px;
}
.banner-text {
    max-width: 1100px;
}
.banner-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-text h1 {
    font-size: 3.125rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.3;
    color: #000;
}
.banner-text p {
    font-size: 1.25rem;
    text-align: center;
    color: #4c4c4c;
    line-height: 1.5;
}
.banner-img{
    text-align: center;
    margin-top: 50px;
}
.banner-img img {
    max-width: 900px;
}
/* banner section end */

/* why choose section start */
.site-heading {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.site-heading h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5px;
    color: #000;
}


.choose-wrap {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 30px;
    margin-bottom: 25px;
    transition: all ease .5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100%;
}
.choose-wrap:hover{
    transform: translateY(-5px);
}
.choose-img {
    width: 80px;
    height: 80px;
    background-color: #F2F2F8;
    border-radius: 50px;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 15px;
}
.choose-img img{
    width: 100%;
}
.choose-text h4 {
    font-size: 1.375rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
    line-height: 1.3;
    transition: all ease .5s;

}
.choose-text h4:hover{
    color: #ef3f4f;
}
.choose-text p {
    font-size: 1rem;
    color: #4c4c4c;
    line-height: 1.6;
    margin-bottom: 0;
}
/* why choose section end */

/* our services section start */
.our-services{
    background-image: url(../images/hero-banner.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.services-text h4 {
    font-size: 1.875rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}
.services-text p {
    color: #4c4c4c;
    font-size: 1.125rem;
    margin-bottom: 10px;
}
.services-text ul {
    padding-left: 20px;
    margin: 10px 0;
    list-style: disc;
}
.services-text ul li {
    font-size: 1rem;
    color: #4c4c4c;
    padding: 5px 0;
}
.services-text ul li strong{
    color: #000;
}
.services-text ul li::marker{
    color: #000;
}
.services-img {
    overflow: hidden;
    height: 350px;
}
.services-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.service-wrap {
    /* padding: 20px 0; */
    padding: 25px;
    border: 1px solid #000;
    margin: 15px 0; 
    border-radius: 10px;
}
.service-wrap .row {
    align-items: center;
}
/* our services section end */

/* get started section css start */

.site-heading p {
    font-size: 1.125rem;
    text-align: center;
    color: #4c4c4c;
    margin: 25px 0;
}
.get-started .site-heading {
    max-width: 1000px;
    text-align: center;
}
.get-started{
    background-image: url(../images/hero-banner.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-form {
    max-width: 800px;
    margin: 0 auto;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 25px;
    background: #fff;
    border-radius: 10px; */
}
.form-group input, .form-group textarea {
    width: 100%;
    height: 50px;
    padding:  15px;
    border-radius: 10px;
    border: 1px solid #000;

}
.form-group textarea {
    height: 250px;
}
.form-group {
    padding: 10px 0;
}

.contact-form button {
    padding: 12px 40px;
    border: 1px solid #000;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    transition: all 0.3s linear;

}
.contact-form button:hover{
    background-color: #ef3f4f;
    border-color: #ef3f4f;
}
.get-started .row {
    align-items: center;
}
/* get started section css end */
/* footer section css start */
.copy-wrap p {
    font-size: 1rem;
    color: #4c4c4c;
    margin-bottom: 0;
}
.footer-links ul li a {
    font-size: 1rem;
    color: #000;
    font-weight: 500;
    transition: all 0.3s linear;

}
.footer-links ul li a:hover{
    color: #ef3f4f;
}
.footer-links ul {
    display: flex;
    gap: 20px;
    align-items: center;
}
.copy-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0 ;
    border-top: 1px solid #ccc;
}
/* footer section css end */

/* privacy policy page css start */
.privacy-body{
    background-image: url(../images/hero-banner.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.privacy-banner {
    padding-top: 150px;
    padding-bottom: 50px;
}
.privacy-banner-text h1 {
    font-size: 2.5rem;
    line-height: 1.3;
    color: #000;
}
.privacy-banner-text h4 {
    font-size: 1.375rem;
    line-height: 1.3;
    margin-bottom: 10px;
    color: #000;
}
.privacy-banner-text p {
    font-size: 1.25rem;
    color: #4c4c4c;
    margin-bottom: 10px;
}
.privacy-banner-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;

}
.privacy-banner-img {
    height: 350px;
    position: relative;
    /* overflow: hidden; */
}
.privacy-banner-img::before{
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    height: 100%;
    width: 100%;
    background-color: #ef3f4f;
    z-index: -1;
    border-radius: 30px;

}
.privacy-wrap h4 {
    font-size: 1.5625rem;
    color: #000;
    font-weight: 500;
    margin-bottom: 10px;
}
.privacy-wrap p strong{
color: #000;
}
.privacy-wrap p a{
    color: #000;
    font-weight: 500;
    text-decoration: underline;
}
.privacy-wrap p {
    font-size: 1.125rem;
    color: #4c4c4c;
    margin-bottom: 10px;
}
.privacy-wrap ul{
padding-left: 20px;
margin: 10px 0;
list-style: disc;
}
.privacy-wrap ul li{
    font-size: 1.125rem;
    color: #4c4c4c;
    padding: 1px 0;
}
.privacy-wrap ul li::marker, .privacy-wrap ul li strong{
    color: #000;
}
.privacy-wrap{
    padding: 10px 0;
}
/* privacy policy page css end */